/*Global css*/
.nopadding{
  padding: 0;
}
.nomargin{
  margin: 0;
}
body{
  background-color:rgb(244, 244, 244);
}
.footer{
  padding-top:0;
  background-color: #F5F6EB;
}
.maincontent{
  /*background-color: #f5f6f7;*/
}


.navbar{
  margin-bottom: 0;
}

.footerhr{
  margin-top: 0;
}
.myglyphicon{
  color:rgba(29,176,184,0.5);
}
.bodycontent{
  background-color: #f3f3f3;
  background-image: url("/img/wangge.png");
  background-position: center 0;
  /*background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;*/
}
.jumbotron{
  background-image: url("/img/swiper/1.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.jumbox{
  position:relative;
  overflow: hidden;
  margin-bottom: 0;
}
.labelnav{
  background-color: #F5F6EB;
}
.jumbox:after{
  position:absolute;
  left: 0;
  top:0;
  display: block;
  width:100%;
  height: 100%;
  background-color: rgba(29,176,184,0.3);
  content: attr(data-text);
  transition:all 1s ease;
  transform: translateY(-100%);
  color: #FFF;
}
.jumbox:hover:after{
  transform: translateY(0);
}
.contentLeft{
  margin: 0 auto;
}
.articleContent{
  width: 98%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border:0.5px solid rgba(0, 0, 0, 0.02);
  box-shadow:3px 3px 15px -10px rgba(0, 0, 0, 0.9);
}

.ulcontent{
  width: 95%;
  margin: 0 auto;
}
.ulcontent li{
  padding: 5px 20px;
}
.ulcontent li:hover{
  border-left:2px solid rgba(29,176,184,0.5);
}

.contentList{
  padding: 0 15px;
  margin: 0 auto;
}
.contentList li{
  padding:10px 5px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.contentList li a{
  color: #000000;
}

.plimit{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden;
  text-overflow: ellipsis;
}

