extends ../layout

append css
  link(rel='stylesheet', href='/components/sweetalert2/dist/sweetalert2.css')
  link(rel='stylesheet', href='/css/input/base.css')
  link(rel='stylesheet', href='/css/input/buttons.css')
  link(rel='stylesheet', href='/css/input/default.css')
  link(rel='stylesheet', href='/css/input/normalize.css')
  link(rel='stylesheet', href='/css/input/set2.css')
  link(rel='stylesheet', href='/css/input/vicons-font.css')
  link(rel='stylesheet', href='/css/user.css')


append beforjs
  script(type="text/javascript", src='/components/sweetalert2/dist/sweetalert2.min.js')

block main
  .bg(style='background-color:rgb(208, 214, 214); margin:0;')
    block contentAll


  block footer
    footer.footer.navbar-static-bottom(style='background-color:#FFF;text-align:center; font-color:#FFF;')
      hr.footerhr
      .container
      p.text-muted © CopyRight 2018.03-2018.04, XZQ Inc.All Rights Reserved.
      p.text-muted 联系我们：QQ : 252161732, Address : 南宁学院 
      p.text-muted 基于mongodb大型技术博客分享论坛的设计
