doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    title= title
    script(src='/components/jquery/dist/jquery.js')
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')

  body(style='background-color:#EEEEEE;')
    block beforjs
    
    .maincontent
      block main

    block js
      script(src='/components/bootstrap/dist/js/bootstrap.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')

    block scriptsAfter


